.day-of-week {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(var(--grid-width) * 8);
    padding: 0 1rem;
}
.day-of-week > span {
    height: var(--grid-height);
    width: var(--grid-width);
    text-align: center;
    line-height: var(--grid-height);
    color: var(--font-color);
}
